################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyGitDemo/.vs/MyGitDemo
/MyGitDemo/MyGitDemo/obj
/MyGitDemo/MyGitDemo/bin/Debug/netcoreapp3.1
